*{
 margin: 0;
 padding: 0;
}

body{
 /* background: url(./images/bg.jpeg); */
 /* background-size: cover; */
 overflow: hidden;
 height: 100vh;
}
.content{
overflow: hidden;
}
video{
 width: 100%;
 position: absolute;
 bottom: 0px;
 z-index: -1;
}

.taskbar{
 position: absolute;
 bottom:0px;
 display: flex;
 justify-content:center;
 width: 100%;
 background-color: #f3f3f3;
 z-index: 100;
}
.right{
 position: absolute;
 right: 0;
 justify-content: flex-end;
 margin: 6px 0;
 height: 85%;
}

.startmenu{
 position: absolute;
 /* bottom: 50px; */
 bottom: -550px;
 width: 90vw;
 max-width: 500px;
 transition: all 0.3s ease-in;
 border: 1px solid black;
}
.startmenu-box{
 display: flex;
 flex-direction: column;
 align-items:center;
 text-align: center;
 height: 100%;
 width: 100%;
}

.startmenu img{
 border-radius: 8px;
 width: 100%;
}
.icons{
 margin: 10px;
 padding: 10px;
 width: 20px;
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
}